img {
    max-width: 500px;
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
}

main {
    text-align: justify;
    margin: 30px;
}

@media screen and (min-width: 700px){
    img {
        max-width: 700px;
    }

    main {
        max-width: 800px;
        margin: auto;
        text-align: left;
    }
}