#nes-console {
    max-width: 250px;
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
}

main {
    text-align: justify;
    margin: 1em;
}

@media screen and (min-width: 700px){
    #nes-console {
        max-width: 700px;
    }

    main {
        max-width: 800px;
        margin: auto;
        text-align: left;
    }
}