@font-face {
    font-family: 'AmaticSC';
    src: url('fonts/AmaticSC-Regular.ttf') format('truetype'),
            url('fonts/AmaticSC-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    max-width: 1280px;
    margin: auto;
    padding: 1em;
}

header h1 {
    font-family: 'AmaticSC';
    font-weight: bold;
    font-size: 60px;
    align-self: flex-end;
}

header img {
    max-width: 100px;
    align-self: center;
}

#logo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

header {
    text-align: center;
    align-content: center;
}

.search-bar {
    display: flex;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    justify-content: space-between;
    margin: 0 auto;      /* centers horizontally */
    width: 100%;
    max-width: 400px;
    text-align: center;
}

#recipe-search {
    border: none;
}

#search-button {
    border: none;
    border-left: solid 2px;
}

#search-button img {
    width: 32px;
    height: 32px;
}

img {
    max-width: 90%;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    padding: 1em;
}

.tags {
    border: 1px solid #858585;
    border-radius: 2px;
    max-width: fit-content;
    padding: 0.2em 0.4em;
    background: #efefef;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

h2 {
    font-family: 'AmaticSC';
    font-weight: bold;
    font-size: 40px;
    color: #1e99e0;
}

hr{
    margin-top: 50px;
}

footer {
    text-align: center;
    margin-top: 1em;
}

.social {
    display: block;
    text-align: center;
}

.social img {
    max-width: 40px;
}

.rating{
    display: inline-block;
    margin-bottom: 0.6em;
}
              
@media screen and (min-width: 600px){
    
    header h1 {
    font-family: 'AmaticSC';
    font-weight: bold;
    font-size: 85px;
    align-self: flex-end;
    }

    header img {
        max-width: 110px;
        align-self: center;
    }

    #logo {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .recipe-card {
        flex-direction: row;
    }

    .recipe-card-image {
        flex: 1 1 350px;   /* bigger base width and allowed to grow */
    }

    .recipe-card-content {
        flex: 1 1 400px;   /* share space more evenly */
    }

    .recipe-card-image img {
        width: 100%;
        height: auto;
        display: block;
    }

    h2 {
        font-size: 45px;
    }

    footer {
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .social {
        display: flex;
        gap: 0.5rem;
        justify-content: flex-end;
        order: 1;
    }

    .social img {
        width: 48px;
        height: 48px;
    }
}